body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  background: #495E57;
  max-height: 15vh;
  padding: 30px 70px;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 250px;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 42px;
  justify-content: center;
  list-style-type: none;
  transition: transform 0.3s ease-in-out;
}

nav li {
  /* display: flex; */
}

nav a {
  color: #fff;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

nav a:hover {
  color: #192E27;
  transition: all .5s ease;
}

/* Styles for Hamburger Menu */
.hamburger {
  display: none;
  /* Hidden by default */
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  z-index: 1000;
  /* Ensures it's above other content */
}

.hamburger div {
  width: 100%;
  height: 3px;
  background-color: #fff;
  /* or your preferred color */
  transition: all 0.3s linear;
}

/* Transform into X for open state */
.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open div:nth-child(2) {
  opacity: 0;
}

.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

main,
.subPage {
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
  background: #61736E;
}

.titleCont {
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  background: url('./assets/brand/lemon.svg') no-repeat left center;
}

.titleBox {
  color: #192E27;
  font-family: 'Markazi Text', Georgia, 'Times New Roman', Times, serif;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.47em;
  text-align: justify;
  padding: 0px 58px;
  max-width: 1440px;

}

.resbutBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resbutBox button {
  background: #4D625C;
  color: #ffffff;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-weight: Regular;
  text-transform: uppercase;
  padding: 20px 50px;
  border: solid 2px white;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.resBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.reserve {
  background: #3b8069;
  color: #ffffff;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-decoration: none;
  font-weight: Regular;
  text-transform: uppercase;
  padding: 30px 50px;
  border: solid 2px white;
  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}



.resBox button:hover,
.resbutBox button:hover {
  box-shadow: none;
  transition: all .5s ease;
  cursor: pointer;
  background: #45987c;

}

section h2 {
  color: #192E27;
  font-family: 'Markazi Text', Georgia, 'Times New Roman', Times, serif;
  font-size: 92px;
  font-weight: 500;
  align-self: flex-start;
  padding-bottom: 45px;
}

section {
  min-height: 90vh;
  /* padding-bottom: 10vh; */
}

.specialBox {
  /* background: red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 30px;
}

.specialCard {
  background: #61736E;
  border-radius: 26px;
  width: 330px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr .5fr;
  /* flex-direction: column;
  align-self: end; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.cardImg {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 12;
  overflow: hidden;
}

.cardImg img {
  max-width: 100%;
  transform-origin: 110px 600px;
  transform: scale(1.5);
  transition: transform 0.4s ease-in-out;

}

.cardBody {
  color: #ffffff;
  padding: 10px 30px;
}

.cardBody h3 {
  font-size: 32px;
}

.cardBody p {
  font-size: 24px;
}

.cardButton {
  display: flex;
  justify-content: center;
  padding: 20px 0 42px 0;
}

.cardButton button {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  padding: 20px 20px;
  border: solid 2px white;
  background: #495E57;
  border-radius: 50px;
  width: 198px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.25), 0 0px 8px rgba(0, 0, 0, 0.22);

}

.cardButton button:hover {
  box-shadow: none;
  transition: all .5s ease-in-out;
  cursor: pointer;
  background: #45987c;
}

.wwaCont {
  background: url('./assets/brand/onion2.svg') no-repeat left bottom;
  color: #192E27;
  font-size: 24px;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.25em;
}

.wwaBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

}

.wwaContent {
  padding: 0px 58px;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
}

.wwaBox img {
  max-width: 600px;
  border: #fff solid 1px;
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.25), 0 0px 8px rgba(0, 0, 0, 0.22);

}

.quoteCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/brand/tomato.svg');
  background-position: right center;
  background-repeat: no-repeat;
}

.quoteBox {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  /* height: 1100px; */
}

.quoteCard {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  min-width: 100%;
  grid-column: 2/3;
  grid-row: 2/3;

}

.quoteCard-active {
  opacity: 1;
}

.quoteBox h3 {
  margin: 0;
  grid-row: 1/2;
  display: flex;
  justify-content: right;
  align-items: center;
}

.quoteBox h3 img {
  max-width: 115px;
}

.quoteCard p {
  color: #192E27;
  font-size: 36px;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: right;
}

.quoteCard h4 {
  color: #fff;
  font-size: 38px;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.25em;
  padding: 0px 120px;
  /* max-width: 75%; */
  align-self: center;
}


footer {
  padding: 70px;
  display: flex;
  flex-direction: row;
  background: #495E57;
  color: #ffffff;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 60px;
}

.footerBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footerBox img {
  max-height: 186px;
}

.footerBox h5 {
  font-size: 24px;
  margin: 0;
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

.footerSocials ul {
  display: flex;
  gap: 1.5em;
  list-style-type: none;
}

.time-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
}

button.time-button {
  font-size: 16px;
  width: 94px;
  height: 39px;
  background: #F6F9F8;
  color: #5F5F5F;
  border-radius: 100px;
  border: solid 2px #5f5f5f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  box-shadow: none;
}


button.time-button.selected,
button.time-button:hover {
  color: #ffffff;
  background: #3b8069;
  box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.25);
  transition: all .2s ease;
  border-color: #33705b;

}

button.time-button:disabled {
  opacity: .5;
  cursor: not-allowed;
  color: #495E57;
  background: #F6F9F8;
  box-shadow: none;
  transition: none;
  border: solid 2px #5f5f5f;
}

@media (max-width: 1207px) {
  section {
    padding-bottom: 10vh;
  }

  .specialCard {
    width: 300px;
  }

  .cardBody {
    padding: 0px 25px;
  }

  .wwaContent {
    flex-direction: column;
  }

  .wwaContent img {
    width: 100%;
  }

  .wwaBox {
    height: auto;
  }

  .hamburger {
    display: flex;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -100%;
    /* Start off-screen to the right */
    height: 100%;
    width: 100%;
    /* Width of the menu */
    background-color: #495E57;
    /* Background color of the menu */
    flex-direction: column;
    transition: right 0.3s ease-in-out;
    z-index: 999;
  }

  .menu.open {
    right: 0;
    /* Slide in */
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    padding: 30px;
  }

  .logo {
    width: 200px;
  }

  main {
    padding: 0px 20px;
  }

  section {
    min-height: auto;
  }

  section h2 {
    font-size: 62px;
    padding-top: 80px;
  }

  .titleCont {
    padding: 30px 0px;
    justify-content: flex-start;
  }

  .titleBox {
    font-size: 24px;
    text-align: left;
    padding: 0px 28px;
    max-width: 1440px;
  }


  .quoteBox {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .quoteBox h3 {
    display: none;
  }

  .quoteCard h4 {
    padding: 0px 0px 40px 0px;
    font-size: 30px;
  }

  .quoteCard p {
    font-size: 28px;
  }

  .quoteCard {
    padding-bottom: 50px;
  }

  footer {
    flex-direction: column;
    padding: 60px 30px;
  }

  .footerBox img {
    width: 150px;
    max-height: 100%;
  }

  .subPage {
    padding: 30px;
  }

  .subPage h2 {
    padding-top: 0px;
  }

  .css-nafczz {
    padding: 12px !important;
  }

  .css-qdq3f6 {
    padding: 18px;
  }

  .time-grid {
    gap: 8px;
    grid-template-columns: 1fr 1fr;

  }

  button.time-button {
    font-size: 16px;
    /* width: 80px; */
  }
}